{% extends 'main.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h2>Добавить статью</h2>
{% if form.message.errors %}
{{form.message.errors}}
{% endif %}
{% if not suc == '' %}
<p align="center" style="color: green">{{suc}}</p>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="form_reg">
        <li>
            <label>Заголовок статьи: </label>
           {{form.title}}
        </li>
         <li>
            <label>Краткое описание статьи: </label>
           {{form.description}}
        </li>
         <li>
            <label>Описание статьи: </label>
           {{form.fulltext}}
        </li>
         <li>
            <label>Фото статьи: </label>
            {{form.image}}
        </li>
         <li>
            <label>Категория статьи: </label>
            {{form.cat}}
        </li>
         <li>
            <input type="submit" value="Добавить статьи">
        </li>
    </ul>
</form>
{% endblock %}